<!DOCTYPE html>
<html>

<head>
  <title>Web Component</title>
  <script src="../components/product.js" type="module"></script>
  <script src="../components/tree-item.js" type="module"></script>
</head>
<style>
  div {
    color: red;
  }

  span {
    color: red;
  }

  button {
    color: red;
  }
</style>

<body>
  <div>Todos los divs son rojos</div>
  <span>Todos los spans son rojos</span>
  <br></br>
  <button>Todos los botones son rojos</button>
  <br></br>
  <product-item
    name="Iphone"
    stars="4"
    maxstars="5"
    price="10000"
    discount="37"
    image="https://api.cxl8rgz-articulos1-p1-public.model-t.cc.commerce.ondemand.com/medias/REIFSTORE-MPUR3BE-A-VIEW1.jpg?context=bWFzdGVyfGltYWdlc3wxODc5MTl8aW1hZ2UvanBlZ3xoYzMvaDAxLzkyNjI5NTc5MjAyODYvUkVJRlNUT1JFX01QVVIzQkUjQV9WSUVXMS5qcGd8MzQ2MWUyYzU4YTlkMGNkY2M0OTc4MmVlNGZlNjY5ZGVjNTBlNTY5ZWQwNzkzZGYwODMwNGMyMDZlNDdkMGNmZA">
  </product-item>
  <br></br>
  <tree-item>
    Motores de Bases de Datos
    <tree-item>
      Relacionales
      <tree-item>
        Open Source
        <tree-item>
          MySQL
        </tree-item>
        <tree-item>
          PostgreSQL
        </tree-item>
      </tree-item>
      <tree-item>
        Propietarios
        <tree-item>
          Oracle
        </tree-item>
        <tree-item>
          SQL Server
        </tree-item>
      </tree-item>
    </tree-item>
    <tree-item>
      NoSQL
      <tree-item>
        Modelo Documentos
        <tree-item>
          MongoDB
        </tree-item>
        <tree-item>
          CouchDB
        </tree-item>
      </tree-item>
      <tree-item>
        Modelo Grafos
        <tree-item>
          Neo4J
        </tree-item>
        <tree-item>
          SparQL
        </tree-item>
      </tree-item>
    </tree-item>
  </tree-item>
</body>

</html>