<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo de Web Component</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    >
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="../components/tree-item.js" type="module"></script>
  </head>
  <body>
    <h1 class="text-center">Árboles</h1>
    <div class="container w-50">
      <tree-item>
        Motores de Bases de Datos
        <tree-item>
          Relacionales
          <tree-item>
            Open Source
            <tree-item>
              MySQL
            </tree-item>
            <tree-item>
              PostgreSQL
            </tree-item>
          </tree-item>
          <tree-item>
            Propietarios
            <tree-item>
              Oracle
            </tree-item>
            <tree-item>
              SQL Server
            </tree-item>
          </tree-item>
        </tree-item>
        <tree-item>
          NoSQL
          <tree-item>
            Modelo Documentos
            <tree-item>
              MongoDB
            </tree-item>
            <tree-item>
              CouchDB
            </tree-item>
          </tree-item>
          <tree-item>
            Modelo Grafos
            <tree-item>
              Neo4J
            </tree-item>
            <tree-item>
              SparQL
            </tree-item>
          </tree-item>
        </tree-item>
      </tree-item>
    </div>
    <div class="container">
      <tree-item>
        Ciencias
        <tree-item>
          Física
          <tree-item>
            Mecánica
            <tree-item>
              Clásica
              <tree-item>
                Newton
              </tree-item>
              <tree-item>
                Lagrange
              </tree-item>
            </tree-item>
            <tree-item>
              Cuántica
              <tree-item>
                Planck
              </tree-item>
              <tree-item>
                Schrödinger
              </tree-item>
            </tree-item>
          </tree-item>
          <tree-item>
            Termodinámica
            <tree-item>
              Clausius
            </tree-item>
            <tree-item>
              Carnot
            </tree-item>
          </tree-item>
        </tree-item>
        <tree-item>
          Química
          <tree-item>
            Orgánica
            <tree-item>
              Fischer
            </tree-item>
            <tree-item>
              Wöhler
            </tree-item>
          </tree-item>
          <tree-item>
            Inorgánica
            <tree-item>
              Mendeleiev
            </tree-item>
            <tree-item>
              Avogadro
            </tree-item>
          </tree-item>
        </tree-item>
        <tree-item>
          Matemáticas
          <tree-item>
            Geometría
            <tree-item>
              Euclides
            </tree-item>
            <tree-item>
              Pitágoras
            </tree-item>
          </tree-item>
          <tree-item>
            Álgebra
            <tree-item>
              Descartes
            </tree-item>
            <tree-item>
              Euler
            </tree-item>
          </tree-item>
          <tree-item>
            Cálculo
            <tree-item>
              Leibniz
            </tree-item>
            <tree-item>
              Newton
            </tree-item>
          </tree-item>
        </tree-item>
        <tree-item>
          Biología
          <tree-item>
            Celular
            <tree-item>
              Hooke
            </tree-item>
            <tree-item>
              Schleiden
            </tree-item>
          </tree-item>
          <tree-item>
            Molecular
            <tree-item>
              Crick
            </tree-item>
            <tree-item>
              Watson
            </tree-item>
          </tree-item>
        </treeitem>
      </tree-item>
    </div>
  </body>
</html>
